@model Social_Network.ViewModels.PageUsersViewModel

<h2>Users:</h2>
<table class="table">
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
    {
<a asp-action="UserList"
   asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
   class="btn btn-outline-dark">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Previous
</a>
}
    @if (Model.PageViewModel.HasNextPage)
    {
<a asp-action="UserList"
   asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
   class="btn btn-outline-dark">
    Next
    <i class="glyphicon glyphicon-chevron-right"></i>
</a>
    }